<!--
<!DOCTYPE html>
{% block content %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>La concha de la Lora</title>
		link
	</head>
	<body>
		<h1>Plantilla de Djanto</h1>
		<h2>{{variable1}}</h2>
		<h2>{{variable2}}</h2>
	</body>
{% endblock content %}
</html>
-->

<form method="POST">
	{% csrf_token %}
	dato:<input text="text" name="name">
	<br>
	<button type="summit">Enviar</button>
</form>
<h3>Informacion:</h3>
<h3>{{% data %}}
